# Big City Health Analysis

The goal of this analysis is to identify factors that contribute to or detract from the overall health of a population.  More specifically, I want to identify factors that impact obesity rates and physical activity levels. Identifying these factors can assist public policy makers in determening the best ways to allocate resources in order to incentivize people to lead healthier lifestyles.

## Import Data

The dataset for this project can be found via the online data community [data.world](https://data.world/health/big-cities-health/).

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Big_Cities_Health_Data_Inventory.csv')
data.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

## Data Cleaning

I will first drop the 'Source', 'Methods' and 'Notes' columns as they offer no insight to this analysis. I then will verify the datatypes of the remaining columns.

In [3]:
data = data.drop(columns=['Source', 'Methods', 'Notes'])

#Verify datatypes
data.dtypes

Indicator Category             object
Indicator                      object
Year                           object
Gender                         object
Race/ Ethnicity                object
Value                         float64
Place                          object
BCHC Requested Methodology     object
dtype: object

I will now clean up the 'Place' column which identifies names of the different cities.

In [4]:
data['Place'].unique()

array(['Atlanta (Fulton County), GA', 'Cleveland, OH', 'Baltimore, MD',
       'Boston, MA', 'Portland (Multnomah County), OR', 'Chicago, IL',
       'San Diego County, CA', 'Dallas, TX', 'Denver, CO', 'Detroit, MI',
       'Kansas City, MO', 'Fort Worth (Tarrant County), TX',
       'Houston, TX', 'Seattle, WA', 'Washington, DC', 'Los Angeles, CA',
       'Las Vegas (Clark County), NV', 'Miami (Miami-Dade County), FL',
       'San Jose, CA', 'Minneapolis, MN', 'New York, NY',
       'Philadelphia, PA', 'Oakland, CA', 'Phoenix, AZ', 'Sacramento, CA',
       'San Antonio, TX', 'San Francisco, CA', 'U.S. Total',
       'Long Beach, CA'], dtype=object)

In [5]:
data['Place'] = data['Place'].str.split(',').str[0]
data['Place'] = data['Place'].str.split("(").str[0].str.strip()
data['Place'] = data['Place'].replace({'San Diego County': 'San Diego'})
data['Place'].unique()

array(['Atlanta', 'Cleveland', 'Baltimore', 'Boston', 'Portland',
       'Chicago', 'San Diego', 'Dallas', 'Denver', 'Detroit',
       'Kansas City', 'Fort Worth', 'Houston', 'Seattle', 'Washington',
       'Los Angeles', 'Las Vegas', 'Miami', 'San Jose', 'Minneapolis',
       'New York', 'Philadelphia', 'Oakland', 'Phoenix', 'Sacramento',
       'San Antonio', 'San Francisco', 'U.S. Total', 'Long Beach'],
      dtype=object)

### Selecting health and economic indicators to use in the analysis

Below we can see that this dataset contains information on over health and economic indicators. I will remove indicators that either contain redundant infomration or are of no value to the analysis.

In [6]:
indicator_data = data[['Indicator Category', 'Indicator']]
indicator_data = indicator_data.groupby(['Indicator Category', 'Indicator']).first()
indicator_data

Empty DataFrame
Columns: []
Index: [(Behavioral Health/Substance Abuse, Drug Abuse-Related Hospitalization Rate (Per 100,000 people) *Comparisons of these data are difficult as definitions can vary.), (Behavioral Health/Substance Abuse, Opioid-Related Mortality Rate (Age-Adjusted; Per 100,000 people) *These data should not be compared across cities as they have different definitions), (Behavioral Health/Substance Abuse, Opioid-Related Mortality Rate (Age-Adjusted; Per 100,000 people) *These data should not be compared across cities as they have different definitions.), (Behavioral Health/Substance Abuse, Opioid-Related Mortality Rate (Crude Rate; Per 100,000 people) *These data should not be compared across cities as they have different definitions), (Behavioral Health/Substance Abuse, Percent of Adults Who Binge Drank), (Behavioral Health/Substance Abuse, Percent of High School Students Who Binge Drank), (Cancer, All Types of Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Cancer, Female Breast Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Cancer, Lung Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Demographics, Median Household Income (Dollars)), (Demographics, Percent 18+ High School Graduates), (Demographics, Percent Below 200% Poverty Level), (Demographics, Percent Foreign Born), (Demographics, Percent of Children Living in Poverty), (Demographics, Race/Ethnicity), (Demographics, Unemployment Rate Ages 16+), (Food Safety, Rate of Laboratory Confirmed Infections Caused by Salmonella (Per 100,000 people)), (Food Safety, Rate of Laboratory Confirmed Infections Caused by Shiga Toxin-Producing E-Coli (Per 100,000 people)), (HIV/AIDS, AIDS Diagnoses Rate (Per 100,000 people)), (HIV/AIDS, HIV Diagnoses Rate (Per 100,000 people)), (HIV/AIDS, HIV-Related Mortality Rate (Age-Adjusted; Per 100,000 people)), (HIV/AIDS, Persons Living with HIV/AIDS Rate (Per 100,000 people)), (Infectious Disease, Percent of Adults Over Age 65 Who Received Pneumonia Vaccine), (Infectious Disease, Percent of Adults Who Received Seasonal Flu Shot), (Infectious Disease, Percent of Children Who Received Seasonal Flu Shot), (Infectious Disease, Pneumonia and Influenza Mortality Rate (Age-Adjusted; Per 100,000 people)), (Infectious Disease, Tuberculosis Incidence Rate (Per 100,000 people)), (Injury and Violence, Firearm Related Mortality Rate (Age-Adjusted; Per 100,000 people)), (Injury and Violence, Homicide Rate (Age-Adjusted; Per 100,000 people)), (Injury and Violence, Motor Vehicle Mortality Rate (Age-Adjusted; Per 100,000 people)), (Injury and Violence, Suicide Rate  (Age-Adjusted; Per 100,000 people)), (Life Expectancy and Death Rate (Overall), All-Cause Mortality Rate (Age-Adjusted; Per 100,000 people)), (Life Expectancy and Death Rate (Overall), Life Expectancy at Birth (Years)), (Maternal and Child Health, Infant Mortality Rate (Per 1,000 live births)), (Maternal and Child Health, Percent of Low Birth Weight Babies Born), (Maternal and Child Health, Percent of Mothers Under Age 20), (Nutrition, Physical Activity, & Obesity, Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)), (Nutrition, Physical Activity, & Obesity, Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)), (Nutrition, Physical Activity, & Obesity, Percent of Adults Who Are Obese), (Nutrition, Physical Activity, & Obesity, Percent of Adults Who Meet CDC-Recommended Physical Activity Levels), (Nutrition, Physical Activity, & Obesity, Percent of High School Students Who Are Obese), (Nutrition, Physical Activity, & Obesity, Percent of High School Students Who Meet CDC-Recommended Physical Activity Levels), (Tobacco, Percent of Adults Who Currently Smoke), (Tobacco, Percent of High School Students Who Currently Smoke)]

I will keep all indicators in the categories "Nutrition, Physical Activity & Obesity", "Demographics", "Cancer", and "Life Expectancy and Death Rate (Overall)".

In [7]:
categories = ["Nutrition, Physical Activity, & Obesity",
              "Life Expectancy and Death Rate (Overall)",
              "Demographics", 
              "Cancer"]
data = data[data['Indicator Category'].isin(categories)]
data['Indicator Category'].value_counts()

Nutrition, Physical Activity, & Obesity     1841
Cancer                                      1432
Life Expectancy and Death Rate (Overall)     544
Demographics                                 504
Name: Indicator Category, dtype: int64

In [8]:
indicator_data = data[['Indicator Category', 'Indicator']]
indicator_data = indicator_data.groupby(['Indicator Category', 'Indicator']).first()
indicator_data

Empty DataFrame
Columns: []
Index: [(Cancer, All Types of Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Cancer, Female Breast Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Cancer, Lung Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Demographics, Median Household Income (Dollars)), (Demographics, Percent 18+ High School Graduates), (Demographics, Percent Below 200% Poverty Level), (Demographics, Percent Foreign Born), (Demographics, Percent of Children Living in Poverty), (Demographics, Race/Ethnicity), (Demographics, Unemployment Rate Ages 16+), (Life Expectancy and Death Rate (Overall), All-Cause Mortality Rate (Age-Adjusted; Per 100,000 people)), (Life Expectancy and Death Rate (Overall), Life Expectancy at Birth (Years)), (Nutrition, Physical Activity, & Obesity, Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)), (Nutrition, Physical Activity, & Obesity, Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)), (Nutrition, Physical Activity, & Obesity, Percent of Adults Who Are Obese), (Nutrition, Physical Activity, & Obesity, Percent of Adults Who Meet CDC-Recommended Physical Activity Levels), (Nutrition, Physical Activity, & Obesity, Percent of High School Students Who Are Obese), (Nutrition, Physical Activity, & Obesity, Percent of High School Students Who Meet CDC-Recommended Physical Activity Levels)]

To make this analysis a bit simpler, I only want to include data that is relevant to the population as a whole. For this reason, I will remove statistics that reference or are heaviliy influenced by race and gender. I will also remove the indicators for Lung Cancer Mortality Rate and Percent Below 200% Poverty Level as we already have indicators for overall cancer mortality and median income.

In [9]:
remove_indicators = ["Female Breast Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)",
                    "Lung Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)",
                    "Percent Foreign Born",
                    "Percent of Children Living in Poverty",
                    "Race/Ethnicity",
                    "Percent Below 200% Poverty Level"]
data = data[~data['Indicator'].isin(remove_indicators)]

In [10]:
indicator_data = data[['Indicator Category', 'Indicator']]
indicator_data = indicator_data.groupby(['Indicator Category', 'Indicator']).first()
indicator_data

Empty DataFrame
Columns: []
Index: [(Cancer, All Types of Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)), (Demographics, Median Household Income (Dollars)), (Demographics, Percent 18+ High School Graduates), (Demographics, Unemployment Rate Ages 16+), (Life Expectancy and Death Rate (Overall), All-Cause Mortality Rate (Age-Adjusted; Per 100,000 people)), (Life Expectancy and Death Rate (Overall), Life Expectancy at Birth (Years)), (Nutrition, Physical Activity, & Obesity, Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)), (Nutrition, Physical Activity, & Obesity, Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)), (Nutrition, Physical Activity, & Obesity, Percent of Adults Who Are Obese), (Nutrition, Physical Activity, & Obesity, Percent of Adults Who Meet CDC-Recommended Physical Activity Levels), (Nutrition, Physical Activity, & Obesity, Percent of High School Students Who Are Obese), (Nutrition, Physical Activity, & Obesity, Percent of High School Students Who Meet CDC-Recommended Physical Activity Levels)]

In [11]:
#Rename indicators so they're easier to work with
indicator_mapping = {
    "All Types of Cancer Mortality Rate (Age-Adjusted; Per 100,000 people)": "cancer_mortality",
    "Median Household Income (Dollars)": "median_household_income",
    "Percent 18+ High School Graduates": "hs_graduation_rate",
    "Unemployment Rate Ages 16+": "unemployment_rate",
    "All-Cause Mortality Rate (Age-Adjusted; Per 100,000 people)": "overall_mortality",
    "Life Expectancy at Birth (Years)": "life_expectancy",
    "Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)": "diabetes_mortality",
    "Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)": "heart_disease_mortality",
    "Percent of Adults Who Are Obese": "adult_obesity_rate",
    "Percent of Adults Who Meet CDC-Recommended Physical Activity Levels": "adult_physical_activity_rate",
    "Percent of High School Students Who Are Obese": "hs_obesity_rate",
    "Percent of High School Students Who Meet CDC-Recommended Physical Activity Levels": "hs_physical_activity_rate"
}
#Remove 'Indicator Category' column as this informataion is redundant
data = data.drop(columns='Indicator Category')
data['Indicator'] = data['Indicator'].replace(indicator_mapping)

In [12]:
print(data['Gender'].value_counts())
print(data['Race/ Ethnicity'].value_counts())
print('\n Null values for Gender and Race/Ethnicity: ')
print(data['Gender'].isnull().sum())
print(data['Race/ Ethnicity'].isnull().sum())

Both      2272
Female     423
Male       422
Name: Gender, dtype: int64
All                              1457
White                             415
Black                             412
Hispanic                          375
Asian/PI                          224
Other                             112
Native American                    69
Multiracial                        44
American Indian/Alaska Native       9
Name: Race/ Ethnicity, dtype: int64

 Null values for Gender and Race/Ethnicity:
0
0

In [13]:
#Keep data where 'Gender' = 'Both'
data = data[data['Gender'] == 'Both']

#Keep data where 'Race/ Ethnicity' = 'All'
data = data[data['Race/ Ethnicity'] == 'All']
data = data.drop(columns=['Gender', 'Race/ Ethnicity'], axis=1)
data.head()

,Indicator,Year,Value,Place,BCHC Requested Methodology
5,cancer_mortality,2013,159.3,Atlanta,"2012, 2013, 2014; per 100,000 population using..."
8,cancer_mortality,2012,160.3,Atlanta,"2012, 2013, 2014; per 100,000 population using..."
11,cancer_mortality,2011,165.2,Atlanta,"2012, 2013, 2014; per 100,000 population using..."
20,overall_mortality,2012,692.0,Atlanta,"Three most recent years as available; per 100,..."
22,overall_mortality,2013,710.1,Atlanta,"Three most recent years as available; per 100,..."

I also need to convert the numerical columns to percentage values. Some of the rates in the 'Value' column reference a percentage out of 100 and others represent a rate out of 100,000.  I will then drop the 'BCHC Requested Methodology' column as this simply tells us whether the 'Value' column is referencing a percentage or per 100,000 rate.

In [14]:
#Convert to percentages
def convert_to_percentage(indicator, value):
    if 'mortality' in indicator:
        return value / 100000
    elif 'rate' in indicator:
        return value / 100
    else:
        return value
data['Value'] = data.apply(lambda x: convert_to_percentage(x['Indicator'], x['Value']), axis = 1)

#Drop 'BCHC Requested Methodology'
data = data.drop(columns='BCHC Requested Methodology')

In [15]:
data.head()

            Indicator  Year     Value    Place
5    cancer_mortality  2013  0.001593  Atlanta
8    cancer_mortality  2012  0.001603  Atlanta
11   cancer_mortality  2011  0.001652  Atlanta
20  overall_mortality  2012  0.006920  Atlanta
22  overall_mortality  2013  0.007101  Atlanta

## Transforming the dataset

I would like to transform this dataset so that each row repesents a city and each column represents a health or economic indicator. The cells will be populated with corresponding values from our current 'Value' column. I will start by creating a dictionary of dictionaries containing values for each city. I will then convert the master dictionary to a DataFrame.

In [16]:
city_list = list(data['Place'].unique())

#Create dictionary of dictionaries for each city
city_dict = dict.fromkeys(city_list, {})
print(city_dict)

{'Atlanta': {}, 'Baltimore': {}, 'Cleveland': {}, 'Boston': {}, 'Chicago': {}, 'Dallas': {}, 'Denver': {}, 'Detroit': {}, 'Fort Worth': {}, 'Houston': {}, 'Kansas City': {}, 'Washington': {}, 'Las Vegas': {}, 'Los Angeles': {}, 'Miami': {}, 'San Jose': {}, 'Minneapolis': {}, 'New York': {}, 'Philadelphia': {}, 'Oakland': {}, 'Phoenix': {}, 'Portland': {}, 'Sacramento': {}, 'San Antonio': {}, 'San Diego': {}, 'San Francisco': {}, 'Seattle': {}, 'U.S. Total': {}, 'Long Beach': {}}

In [17]:
indicator_list = list(data['Indicator'].unique())

#Create key-value pairs for each indicator
for city in city_dict.keys():
    city_dict[city] = dict.fromkeys(indicator_list, '')

#Print example of key-value pairs for Atlanta    
print(city_dict['Atlanta'])

{'cancer_mortality': '', 'overall_mortality': '', 'diabetes_mortality': '', 'life_expectancy': '', 'heart_disease_mortality': '', 'median_household_income': '', 'hs_graduation_rate': '', 'adult_obesity_rate': '', 'adult_physical_activity_rate': '', 'unemployment_rate': '', 'hs_obesity_rate': '', 'hs_physical_activity_rate': ''}

Some of the indicators for certain cities have mutliple values as this data contains information ranging from 2015 to 2003.

In [18]:
print(data['Year'].value_counts())

2013         208
2012         196
2011         132
2010          53
2014          14
2003-2012      2
2015           2
2003-2013      1
2007-2012      1
2011-2012      1
2011-2013      1
2004-2013      1
2008-2012      1
Name: Year, dtype: int64

To make the analysis a little easier, I will only keep the most recent year's data if there are multiple entries for one indicator at a particular city.

In [19]:
#Sort by city-name and then by year
data = data.sort_values(by=['Place', 'Year'], ascending=[True, True])

#Take data for most recent year and add it to a new dataframe
most_recent_data = pd.DataFrame()
for city in list(data['Place'].unique()):
    city_df = data[data['Place'] == city]
    most_recent_by_city = []
    for indicator in (data['Indicator'].unique()):
        indicator_df = city_df[city_df['Indicator'] == indicator]
        most_recent_row = indicator_df.tail(1)
        most_recent_data = most_recent_data.append(most_recent_row)

print(most_recent_data.head())

                   Indicator       Year      Value    Place
50           life_expectancy  2003-2012  78.000000  Atlanta
5           cancer_mortality       2013   0.001593  Atlanta
34        diabetes_mortality       2013   0.000193  Atlanta
85   heart_disease_mortality       2013   0.001573  Atlanta
179       adult_obesity_rate       2013   0.254000  Atlanta

Now I will create a function that adds our data to the dictionary we created earlier. We will then convert this dictionary into our final dataframe.

In [20]:
def add_data_to_city_dict(indicator, value, place):
    city_dict[place][indicator] = value

for index, row in most_recent_data.iterrows():
    add_data_to_city_dict(row['Indicator'], row['Value'], row['Place'])

In [21]:
#Confirm data was correctly added to the dictionary with Balitmore as an example
city_dict['Baltimore']

{'cancer_mortality': 0.002139,
 'overall_mortality': '',
 'diabetes_mortality': '',
 'life_expectancy': 73.9,
 'heart_disease_mortality': 0.0024159999999999997,
 'median_household_income': 42266.0,
 'hs_graduation_rate': 0.8220000000000001,
 'adult_obesity_rate': 0.307,
 'adult_physical_activity_rate': 0.6859999999999999,
 'unemployment_rate': 0.111,
 'hs_obesity_rate': '',
 'hs_physical_activity_rate': ''}

In [22]:
final_df = pd.DataFrame(city_dict).transpose()

In [23]:
final_df

,adult_obesity_rate,adult_physical_activity_rate,cancer_mortality,diabetes_mortality,heart_disease_mortality,hs_graduation_rate,hs_obesity_rate,hs_physical_activity_rate,life_expectancy,median_household_income,overall_mortality,unemployment_rate
Atlanta,0.254,0.272,0.001593,0.000193,0.001573,0.893,,,78,46485,0.007101,0.113
Baltimore,0.307,0.686,0.002139,,0.002416,0.822,,,73.9,42266,,0.111
Cleveland,,,,0.000386,0.003392,0.78,,,73.6,26096,0.010498,0.181
Boston,0.217,0.242,0.001863,0.000196,0.001311,0.87,0.138,0.154,80.1,53583,0.00691,0.081
Chicago,0.246,0.507,0.001872,0.000215,0.001956,0.824,0.145,0.196,78,47099,0.007617,0.127
Dallas,,,,,,0.756,,,,41978,,0.079
Denver,0.198,0.834,0.001776,0.000201,0.001587,0.862,0.107,0.202,78.6,51089,0.006829,0.059
Detroit,0.397,0.191,0.002106,0.00032,0.003141,0.782,0.229,0.133,,24820,0.010255,0.253
Fort Worth,0.294,0.479,0.001743,0.000229,0.001789,0.845,,,76.9,56853,0.008201,0.075
Houston,0.306,,0.001603,0.000219,0.001719,0.776,,,,45353,0.007449,0.079
Kansas City,,,0.001772,0.000267,0.001516,0.886,,,77.6,45551,0.007628,0.072
Washington,0.229,0.805,0.001795,0.000242,0.00218,0.899,0.148,0.164,77.5,67572,,0.104
Las Vegas,0.275,0.44,0.001621,0.000118,0.001907,0.839,0.138,0.236,79,52873,0.007421,0.129
Los Angeles,0.216,0.29,0.000831,0.000149,0.000928,0.759,0.136,0.225,81.8,48466,0.003413,0.107
Miami,0.238,,0.001364,0.000213,0.001585,0.788,0.094,0.405,80,43100,0.006032,0.099
San Jose,0.22,0.53,0.001516,0.000302,0.00128,0.823,0.2,0.29,,80977,,0.094
Minneapolis,0.217,0.577,0.001776,0.000196,0.001118,0.898,,,,50563,0.008099,0.08
New York,0.234,0.673,0.001513,0.000208,0.001842,0.809,0.118,0.187,81.1,52223,0.006,0.098
Philadelphia,0.335,0.446,0.002068,0.000221,0.002028,0.826,0.146,0.269,,36836,0.008792,0.138
Oakland,0.21,0.32,0.001587,0.00027,0.001408,0.813,,,81.7,54394,0.006118,0.125
Phoenix,0.245,0.512,0.001084,0.000202,0.001064,0.806,,,80,46601,0.005198,0.091
Portland,,,0.001705,0.000256,0.00137,0.911,,,79.2,52845,0.007499,0.077
Sacramento,,,0.002842,0.000489,0.002777,0.847,,,,48546,,0.125
San Antonio,0.347,0.44,0.001335,0.000219,0.001392,0.825,0.144,0.316,79.4,45399,0.007891,0.078
San Diego,0.223,,0.001583,0.000204,0.001406,0.858,,,82.3,67753,0.006329,0.095
San Francisco,,,,,,0.875,0.077,0.164,82,77485,0.005726,0.073
Seattle,0.22,0.62,0.001439,0.000186,0.001225,0.936,,0.23,82.2,70172,0.005959,0.059
U.S. Total,0.349,0.499,0.001665,0.000212,0.001698,0.86,0.137,0.271,78.8,42250,0.007319,0.074
Long Beach,0.262,0.321,0.00134,0.000166,0.001797,,,,82.8,,0.005621,

I will remove Dallas and San Francisco from this analysis as they are missing significant amounts of information. I will also remove the statistics of 'hs_obesity_rate' and 'hs_physical_activity_rate' since most cities do not have this information available.

In [24]:
final_df = final_df.drop(columns=['hs_obesity_rate', 'hs_physical_activity_rate'], axis=1)

final_df = final_df.drop(['Dallas' , 'San Francisco']).sort_index()
final_df.head()

,adult_obesity_rate,adult_physical_activity_rate,cancer_mortality,diabetes_mortality,heart_disease_mortality,hs_graduation_rate,life_expectancy,median_household_income,overall_mortality,unemployment_rate
Atlanta,0.254,0.272,0.001593,0.000193,0.001573,0.893,78,46485,0.007101,0.113
Baltimore,0.307,0.686,0.002139,,0.002416,0.822,73.9,42266,,0.111
Boston,0.217,0.242,0.001863,0.000196,0.001311,0.87,80.1,53583,0.00691,0.081
Chicago,0.246,0.507,0.001872,0.000215,0.001956,0.824,78,47099,0.007617,0.127
Cleveland,,,,0.000386,0.003392,0.78,73.6,26096,0.010498,0.181

## Including Weather / Temperature Data

In addition to analyzing the relationship between health and income and education, I want to see if climate and weather plays a role in people's activity levels and obesity rates.

In [25]:
weather_data = pd.read_csv('weather_data.csv')
weather_data.head()

,City,avg_temp_jan,avg_temp_apr,avg_temp_jul,avg_temp_oct,avg_annual_percipitation,avg_percipitation_days
0,"Atlanta, Ga.",42.7,61.6,80.0,62.8,50.20,115
1,"Baltimore, Md.",32.3,53.2,76.5,55.4,41.94,115
2,"Boston, Mass.",29.3,48.3,73.9,54.1,42.53,127
3,"Chicago, Ill.",22.0,47.8,73.3,52.1,36.27,125
4,"Cleveland, Ohio",25.7,47.6,71.9,52.2,38.71,155

In [26]:
list(weather_data['City'])

['Atlanta, Ga.',
 'Baltimore, Md.',
 'Boston, Mass.',
 'Chicago, Ill.',
 'Cleveland, Ohio',
 'Dallas-Ft. Worth, Texas',
 'Denver, Colo.',
 'Detroit, Mich.',
 'Houston, Texas',
 'Kansas City, Mo.',
 'Las Vegas, Nev.',
 'Long Beach, Calif.',
 'Los Angeles, Calif.',
 'Miami, Fla.',
 'Minneapolis–St. Paul, Minn.',
 'New York, N.Y.',
 'Philadelphia, Pa.',
 'Phoenix, Ariz.',
 'Portland, Ore.',
 'Sacramento, Calif.',
 'San Antonio, Texas',
 'San Diego, Calif.',
 'San Francisco, Calif.',
 'Seattle-Tacoma, Wash.',
 'Washington, D.C.']

In [27]:
weather_data['City'] = weather_data['City'].str.split(',').str[0]
list(weather_data['City'])

['Atlanta',
 'Baltimore',
 'Boston',
 'Chicago',
 'Cleveland',
 'Dallas-Ft. Worth',
 'Denver',
 'Detroit',
 'Houston',
 'Kansas City',
 'Las Vegas',
 'Long Beach',
 'Los Angeles',
 'Miami',
 'Minneapolis–St. Paul',
 'New York',
 'Philadelphia',
 'Phoenix',
 'Portland',
 'Sacramento',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'Seattle-Tacoma',
 'Washington']

In [28]:
weather_data['City'] = weather_data['City'].replace({'Dallas-Ft. Worth': 'Fort Worth',
                                                    'Minneapolis–St. Paul': 'Minneapolis',
                                                    'Seattle-Tacoma': 'Seattle',
                                                    'San Francisco': 'San Jose'})
print(weather_data.shape[0])
print(final_df.shape[0])

25
27

There are more rows in our health dataset than there are in the weather dataset. Unpon quick inspection, we are missing weather data for US Total and Oakland. Since Oakland is very close to San Franscisco, we can use San Francisco's data for Oakland. We can leave out US Total since there is no way to get an accurate temperature and percipitation average for the country as a whole.

In [29]:
weather_data = weather_data.set_index('City')
weather_data.loc['Oakland'] = weather_data.loc['San Jose']
weather_data = weather_data.sort_index()

In [30]:
weather_data = weather_data.drop(columns='avg_annual_percipitation        ')
weather_data.head()

,avg_temp_jan,avg_temp_apr,avg_temp_jul,avg_temp_oct,avg_percipitation_days
City,,,,,
Atlanta,42.7,61.6,80.0,62.8,115.0
Baltimore,32.3,53.2,76.5,55.4,115.0
Boston,29.3,48.3,73.9,54.1,127.0
Chicago,22.0,47.8,73.3,52.1,125.0
Cleveland,25.7,47.6,71.9,52.2,155.0

## Join datasets

In [31]:
result = pd.merge(final_df, weather_data, how='left', left_index=True, right_index=True)

result.head()

,adult_obesity_rate,adult_physical_activity_rate,cancer_mortality,diabetes_mortality,heart_disease_mortality,hs_graduation_rate,life_expectancy,median_household_income,overall_mortality,unemployment_rate,avg_temp_jan,avg_temp_apr,avg_temp_jul,avg_temp_oct,avg_percipitation_days
Atlanta,0.254,0.272,0.001593,0.000193,0.001573,0.893,78,46485,0.007101,0.113,42.7,61.6,80.0,62.8,115.0
Baltimore,0.307,0.686,0.002139,,0.002416,0.822,73.9,42266,,0.111,32.3,53.2,76.5,55.4,115.0
Boston,0.217,0.242,0.001863,0.000196,0.001311,0.87,80.1,53583,0.00691,0.081,29.3,48.3,73.9,54.1,127.0
Chicago,0.246,0.507,0.001872,0.000215,0.001956,0.824,78,47099,0.007617,0.127,22.0,47.8,73.3,52.1,125.0
Cleveland,,,,0.000386,0.003392,0.78,73.6,26096,0.010498,0.181,25.7,47.6,71.9,52.2,155.0

In [32]:
result

,adult_obesity_rate,adult_physical_activity_rate,cancer_mortality,diabetes_mortality,heart_disease_mortality,hs_graduation_rate,life_expectancy,median_household_income,overall_mortality,unemployment_rate,avg_temp_jan,avg_temp_apr,avg_temp_jul,avg_temp_oct,avg_percipitation_days
Atlanta,0.254,0.272,0.001593,0.000193,0.001573,0.893,78,46485,0.007101,0.113,42.7,61.6,80.0,62.8,115.0
Baltimore,0.307,0.686,0.002139,,0.002416,0.822,73.9,42266,,0.111,32.3,53.2,76.5,55.4,115.0
Boston,0.217,0.242,0.001863,0.000196,0.001311,0.87,80.1,53583,0.00691,0.081,29.3,48.3,73.9,54.1,127.0
Chicago,0.246,0.507,0.001872,0.000215,0.001956,0.824,78,47099,0.007617,0.127,22.0,47.8,73.3,52.1,125.0
Cleveland,,,,0.000386,0.003392,0.78,73.6,26096,0.010498,0.181,25.7,47.6,71.9,52.2,155.0
Denver,0.198,0.834,0.001776,0.000201,0.001587,0.862,78.6,51089,0.006829,0.059,29.2,47.6,73.4,51.0,89.0
Detroit,0.397,0.191,0.002106,0.00032,0.003141,0.782,,24820,0.010255,0.253,24.5,48.1,73.5,51.9,135.0
Fort Worth,0.294,0.479,0.001743,0.000229,0.001789,0.845,76.9,56853,0.008201,0.075,44.1,65.0,85.0,67.2,79.0
Houston,0.306,,0.001603,0.000219,0.001719,0.776,,45353,0.007449,0.079,51.8,68.5,83.6,70.4,105.0
Kansas City,,,0.001772,0.000267,0.001516,0.886,77.6,45551,0.007628,0.072,26.9,54.4,78.5,56.8,104.0
Las Vegas,0.275,0.44,0.001621,0.000118,0.001907,0.839,79,52873,0.007421,0.129,47.0,66.0,91.2,68.7,26.0
Long Beach,0.262,0.321,0.00134,0.000166,0.001797,,82.8,,0.005621,,57.0,63.0,73.8,68.6,31.0
Los Angeles,0.216,0.29,0.000831,0.000149,0.000928,0.759,81.8,48466,0.003413,0.107,57.1,60.8,69.3,66.9,35.0
Miami,0.238,,0.001364,0.000213,0.001585,0.788,80,43100,0.006032,0.099,68.1,75.7,83.7,78.8,131.0
Minneapolis,0.217,0.577,0.001776,0.000196,0.001118,0.898,,50563,0.008099,0.08,13.1,46.6,73.2,48.7,115.0
New York,0.234,0.673,0.001513,0.000208,0.001842,0.809,81.1,52223,0.006,0.098,32.1,52.5,76.5,56.6,121.0
Oakland,0.21,0.32,0.001587,0.00027,0.001408,0.813,81.7,54394,0.006118,0.125,49.4,56.2,62.8,61.0,63.0
Philadelphia,0.335,0.446,0.002068,0.000221,0.002028,0.826,,36836,0.008792,0.138,32.3,53.1,77.6,57.2,117.0
Phoenix,0.245,0.512,0.001084,0.000202,0.001064,0.806,80,46601,0.005198,0.091,54.2,70.2,92.8,74.6,36.0
Portland,,,0.001705,0.000256,0.00137,0.911,79.2,52845,0.007499,0.077,39.9,51.2,68.1,54.3,153.0
Sacramento,,,0.002842,0.000489,0.002777,0.847,,48546,,0.125,46.3,58.9,75.4,64.4,58.0
San Antonio,0.347,0.44,0.001335,0.000219,0.001392,0.825,79.4,45399,0.007891,0.078,50.3,68.6,84.3,70.7,82.0
San Diego,0.223,,0.001583,0.000204,0.001406,0.858,82.3,67753,0.006329,0.095,57.8,62.6,70.9,67.6,41.0
San Jose,0.22,0.53,0.001516,0.000302,0.00128,0.823,,80977,,0.094,49.4,56.2,62.8,61.0,63.0
Seattle,0.22,0.62,0.001439,0.000186,0.001225,0.936,82.2,70172,0.005959,0.059,40.9,50.2,65.3,52.7,155.0
U.S. Total,0.349,0.499,0.001665,0.000212,0.001698,0.86,78.8,42250,0.007319,0.074,NaN,NaN,NaN,NaN,NaN
Washington,0.229,0.805,0.001795,0.000242,0.00218,0.899,77.5,67572,,0.104,34.9,56.1,79.2,58.8,113.0

In [34]:
from IPython.display import FileLink, FileLinks
result.to_csv('health_data.csv', index=False)
FileLink('health_data.csv')

/Users/nickpowers/Desktop/github_repos/big_city_health_analysis/health_data.csv

## Analysis